<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Examen Parcial</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <header>
            <h1>¿Hay vida en otros planetas? - Sistemas solares </h1>
            <nav>
                <ul>
                    <li><a href="Home/Cosmos">Alta constelación.</a> </li>
                </ul>
            </nav>
        </header>

        <section class="mainSection">
            <article>
                @RenderBody()
            </article>
        </section>

        <aside id="pub">
            <article>
                <div>
                    <div>
                        <p class="passide">Contenido relacionado</p>
                    </div>
                </div>
            </article>
        </aside>

        <footer>
            <p><u>¿Hay vida en otros planetas? - @DateTime.Now.Year </u></p>
        </footer>
    </div>
</body>
</html>